#wrapper{
	background-color: #f4f4f4;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper .box{
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}